{% extends "base.jinja2" %}
{% block title %}Report{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/report.js"></script>
{% endblock %}
{% block bodyClasses %}report-sidebar{% endblock %}
{% block content %}
    <div id="timezone-container"></div>
    <div id="spinner-container"></div>
    <div id="errors-container"></div>
{% endblock %}
