<div class="timezones-html">
{% for tz in timezones|sort(attribute="name") %}
<table>
  <tr>
    <td valign="top">
      <canvas class="CoolClock:swissRail:24::{{ tz["utc-offset"] }}:::swissRailNight" ></canvas>
    </td>
    <td valign="top">
      <b>{{ tz["name"] }}</b><br/>
      <table>
      {% set MAX_USERS_TO_SHOW = 4 %}
      {% for user in tz["users"][:MAX_USERS_TO_SHOW] %}
          <tr>
            <td>
              {# This style is a subset of those used by "aui-avatar-img" since I can't seem to make the aui work #}
              <span style="background-image:url({{ user["photo_url"] }});
                    background-position: 50% 50%;
                    background-size: cover;
                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                    color: rgb(51, 51, 51);
                    display: block;
                    height: 24px;
                    width: 24px;" >
              </span>
            </td>
            <td>
              {{ user["name"] }}<br/>
            </td>
          </tr>
      {% endfor %}
      </table>

      {% if tz["user-count"] > MAX_USERS_TO_SHOW %}
        +{{ tz["user-count"] - MAX_USERS_TO_SHOW }} other user{{ '' if tz["user-count"] == MAX_USERS_TO_SHOW + 1 else 's'}} <br/>
      {% endif %}
    </td>
  </tr>
</table>
{% endfor %}
</div>
